$primary: #ffffff;
$font: #131313;
$black: rgba(0, 0, 0, 0.1);

@mixin card__border($color) {
  border: 2px solid $color;
}
// Миксин в SCSS
@mixin card-content($color) {
  width: 225px;
  min-height: 350px;
  box-shadow: 1px 2px 4px $black;
  background-color: $color;
  display: flex;
  justify-content: center;
  // align-items: center;
  flex-direction: column; 
  border-radius: 4px;
  transition: 0.2s;
  gap: 5px;
  padding: 5px;
}

.card {
  @include card-content($primary);
  @include card__border($font);
  // overflow: hidden;
  position: relative;
  &:hover {
    transform: translateY(-5px);
    box-shadow: 4px 8px 16px $black;
  }
  img {
    transform: scale(1.05);
  }
}


.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, 225px);
  width: 100%;
  justify-content: center;
  justify-items: center;
  column-gap: 30px;
  row-gap: 40px;
  margin: 0 auto;
}

.top {
  margin-bottom: 5px;
}

.top-card__photo {
  display: block;
  // top: 0;
  // left: 0;
  width: max-content;
  height: max-content;
  margin-top: 10px;
}

img {
  width: 10%;
  height: 10%;
  object-fit: contain;
  transition: 0.2s;
  display: block;

  // position: static;
}

.bottom {
  padding: 10px;
  flex-grow: 1; // чтобы контент занимал доступное пространство
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  .bottom-card__label {
    font-weight: 400; // вместо lighter (лучшая поддержка)
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 1.4;
  }
  
  .bottom-card__price {
    font-size: 18px;
    color: #ff6b00; // или любой другой цвет
    margin-top: auto;
  }
}