$primary: #ffffff;
$font: #131313;
$black: rgba(0, 0, 0, 0.1);

// Миксин в SCSS
@mixin card-content($color) {
  width: 225px;
  min-height: 350px;
  box-shadow: 1px 2px 4px $black;
  background-color: $color;
  display: flex;
  flex-direction: column; 
  border-radius: 4px;
  transition: 0.2s;
  gap: 5px;
  padding: 5px;
}

.card {
  @include card-content($primary);
}

.card__border {
  border: 2px solid $black;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  width: 100%;
  justify-content: center;
  justify-items: center;
  column-gap: 30px;
  row-gap: 40px;
  margin: 0 auto;
}

.top {
  margin-bottom: 5px;
}

.photo {
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.photo > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: 0.2s;
}

.bottom {
  margin-top: 5px;
  gap: 5px;
  .label {
    font-weight: lighter;
  }
  .price {
    margin-top: 5px;
    font-weight: bold;
    text-align: center;
  }

}